{
  "extends": "rallycoding",
  "rules": {
    "arrow-body-style": 0,
    "padded-blocks": 0,
    "no-useless-concat": 0,
    "brace-style": 0,
    "no-undef": 0,
    "prefer-arrow-callback": 0,
    "max-len": 0
  }
}
